.contacts {
  padding-top: 50px;
  box-sizing: border-box;
}

.contacts__wrapper {
  position: relative;
  padding-bottom: 22px;
  text-align: center;

  &::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-color: @pink;
    border-left: 160px solid transparent;
    border-right: 160px solid transparent;
    border-top: 51px solid @white;
    bottom: -51px;
    left: 0;
  }
}


.contacts__header {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
}

.contacts__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contacts__subtitle {
  margin: 0;
  padding: 0;
  margin-bottom: 13px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.contacts__text {
  text-decoration: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
  color: @pink;
}

.contacts__tel {
  display: block;
  margin-bottom: 31px;
}

.contacts__e-mail {
  display: block;
  margin-bottom: 35px;
}

.contacts__map {
  width: 100%;
}
