.information {
  padding-top: 40px;

  @media (min-width: @tablet-width) {
    padding-top: 43px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 77px;
  }
}

.information__wrapper {
  background-color: @grey;
  position: relative;
  padding: 0;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 48px;
  text-align: center;
  padding-bottom: 318px;

  &::after {
    position: absolute;
    content: "";
    left: calc(50% - 80px);
    bottom: 0;
    width: 157px;
    min-height: 279px;
    background-image: url("../img/phone-bg-mobiLe.png");
    background-repeat: no-repeat;

    @media (min-width: @tablet-width) {
      left: 20px;
      bottom: 0;
      width: 268px;
      height: 483px;
      clip: rect(0 268px 483px 0);
      background-image: url("../img/phone-bg-tablet.png");
    }
  }

  @media (min-width: @tablet-width) {
    padding-right: 22px;
    padding-bottom: 50px;
    padding-top: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
    padding-bottom: 59px;
    padding-top: 269px;
  }
}

.information__header-block {
  background-color: @white;

  &::after {
    display: block;
    margin-bottom: -1px;
    content: "";
    width: 100%;
    height: 34px;
    background-color: @grey;
    clip-path: polygon(100% 1%, -5% 100%, 100% 100%);

    @media (min-width: @tablet-width) {
      height: 50px;
    }

    @media (min-width: @tablet-width) {
      height: 60px;
    }
  }
}

.information__header {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  color: @blue-basic;
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 30px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 54px;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }

  &:last-of-type {
    margin-bottom: 30px;

    @media (min-width: @tablet-width) {
      margin-bottom: 28px;
    }

    @media (min-width: @desktop-width) {
      margin-bottom: 66px;
    }
  }
}

.information__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: relative;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-image: url("../img/iphone-screen-3.jpg"), url("../img/iphone-3.png");
  background-repeat: no-repeat;
  background-size: 136px 244px, 157px 320px;
  background-position: 61px 525px, 50px 487px;

  @media (min-width: @tablet-width) {
    margin-left: 310px;
    text-align: left;
  }

  @media (min-width: @desktop-width) {
    margin-left: 0;
    flex-direction: row;
    column-gap: 68px;
    text-align: center;
  }
}

.information__term {
  margin-bottom: 32px;

  @media (min-width: @desktop-width) {
    width: 252px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.information__term-title {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  color: @black;

  @media (min-width: @desktop-width) {
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
  }
}

.information__term-text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
  }
}

.information__diagram {
  position: relative;
  display: none;
  padding-left: 330px;
  padding-right: 20px;
  padding-top: 102px;
  padding-bottom: 27px;
  text-align: left;
  background-image: url("../img/clock-24.png");
  background-repeat: no-repeat;
  background-position: 20px bottom;
  background-size: 238px 276px;

  @media (min-width: @tablet-width) {
    display: block;
    padding-top: 91px;
    padding-bottom: 22px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 500px;
    padding-bottom: 120px;
    padding-right: 180px;
    background-position: 131px 17px;
    background-color: @grey;
  }
}

.information__diagram-header {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  width: 168px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 11px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
  }
}

.information__diagram-text {
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 10px;
  }

  @media (min-width: @desktop-width) {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
  }
}

.information__diagram-link {
  color: @pink;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: @desktop-width) {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }
}
