.intro {
  min-height: 733px;
  padding-top: calc(66px + 29px);
  box-sizing: border-box;
  background-color: @blue-basic;
  background-image: url("../img/phone.png"), url("../img/screen-theater.jpg"), url("../img/back-mobile.jpg");
  background-repeat: no-repeat;
  background-position: 0 176px, 104px 209px, 0 0;
}

.intro__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    width: 300px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.intro__header {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  text-align: center;
  color: @white;
  margin-bottom: 348px;

  @media (min-width: @tablet-width) {
    font-size: 40px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px;
    padding-left: 58px;
    padding-right: 58px;
    margin-bottom: 38px;
    margin-top: 73px;
  }
}

.intro__button {
  margin-bottom: 38px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  border: 2px solid @white;
  border-radius: 30px;
  min-height: 55px;
  color: @white;
}

.intro__list {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
}

.intro__download-info {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  color: @white;
}
