.main-form {
  padding-top: 52px;
}

.main-form__wrapper {
  padding-left: 22px;
  padding-right: 22px;
}

.main-form__title {
  padding: 0;
  margin: 0;
  margin-bottom: 55px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.main-form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
  color: @blue-basic;
}

.main-form__header {
  padding: 0;
  margin: 0;
  display: block;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: @pink;
  text-transform: uppercase;
  margin-left: 21px;
  margin-bottom: 18px;

  &--small-line-height {
    display: block;
    margin: 0;
    padding: 0;
    line-height: 18px;
    text-align: center;
  }
}

.main-form__e-mail {
  margin-bottom: 14px;
}

.main-form__input {
  min-height: 59px;
  width: 100%;
  box-sizing: border-box;
  border: 2px solid @grey-light;
  padding-left: 20px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: @blue-basic;

  &::placeholder {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: @blue-basic;
  }
}

.main-form__user-info {
  padding-bottom: 44px;
}

.main-form__input-surname {
  margin-bottom: 27px;
}

.main-form__input-name {
  margin-bottom: 28px;
}

.main-form__user-achievements {
  padding: 0;
  margin: 0;
  background-color: @grey;
  padding-bottom: 55px;
}

.main-form__label {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.main-form__checkbox-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 69px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-left: calc(22px + 56px);
}

.main-form__tel {
  margin-bottom: 32px;
}

.main-form__header--small-margin {
  margin-bottom: 14px;
}

.main-form__tel-address {
  padding-top: 41px;
  padding-bottom: 44px;
}

.main-form__application-type {
  padding-top: 52px;
  padding-bottom: 54px;
  padding-left: 22px;
  background-color: @grey;
  margin-bottom: 44px;
}

.main-form__radio-list {
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-form__review-header {
  margin-bottom: 22px;
}

.main-form__text-area {
  width: 100%;
  padding-left: 20px;
  padding-top: 22px;
  margin-bottom: 52px;
  box-sizing: border-box;
  border: 2px solid @grey-light;
  border-radius: 2px;
  resize: none;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: @blue-basic;
}

.main-form__button-submit {
  background-color: @green;
  color: @white;
  text-transform: uppercase;
  min-height: 59px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  margin-bottom: 46px;
}

.main-form__footnote {
  margin: 0;
  margin-bottom: 26px;
  padding: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  &::first-letter {
    color: @pink;
  }
}
