.page-header {
  position: relative;
  z-index: 2;
  background-color: @black-transparent;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 21px;
  padding-bottom: 22px;
}
