.page-main {
  color: @blue-basic;
  background-color: @white;
}

.page-main__header {
  margin: 0;
  margin-top: -69px;
  padding: 0;
  padding-top: calc(69px + 36px);
  min-height: 236px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
  color: @white;
  background-image: url("../img/back-mobile-form.jpg");
  box-sizing: border-box;
}

//catalog
.page-main__definition {
  padding: 0;
  margin: 0;
  padding-top: 54px;
  padding-bottom: 60px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
