.page-main {
  color: @blue-basic;
  background-color: @white;
  margin-top: -69px;

  @media (min-width: @tablet-width) {
    margin-top: -110px;
  }
}

.page-main__header {
  margin: 0;
  padding: 0;
  padding-top: calc(69px + 36px);
  min-height: 236px;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  text-align: center;
  color: @white;
  box-sizing: border-box;
  background-image: url("../img/back-mobile-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: @tablet-width) {
    padding-top: calc(110px + 36px);
    background-image: url("../img/back-tablet-form.jpg");
  }

  @media (min-width: @desktop-width) {
    padding-top: calc(110px + 36px);
    background-image: url("../img/back-desktop-form.jpg");
  }

  &--paddings {
    box-sizing: border-box;
    padding-top: calc(69px + 27px);
    padding-left: 46px;
    padding-right: 46px;
    padding-bottom: 40px;

    @media (min-width: @tablet-width) {
      font-size: 50px;
      font-style: normal;
      font-weight: 300;
      line-height: 68px;
      padding-top: calc(110px + 66px);
      padding-left: 93px;
      padding-right: 93px;
      padding-bottom: 60px;
    }

    @media (min-width: @desktop-width) {
      font-size: 50px;
      line-height: 68px;
      padding-top: calc(110px + 60px);
      padding-bottom: 87px;
    }
  }

  &--photos {
    padding-top: 94px;
    padding-bottom: 77px;
    padding-left: 74px;
    padding-right: 74px;

    @media (min-width: @tablet-width) {
      font-size: 50px;
      font-weight: 300;
      line-height: 68px;
      padding-top: calc(110px + 66px);
      padding-bottom: 128px;
      padding-left: 152px;
      padding-right: 152px;
    }

    @media (min-width: @desktop-width) {
      padding-top: calc(110px + 74px);
      padding-bottom: 74px;
      padding-left: 420px;
      padding-right: 420px;
    }
  }
}

//catalog
.page-main__definition {
  padding: 0;
  margin: 0;
  padding-top: 45px;
  padding-bottom: 50px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 91px;
    padding-bottom: 77px;
  }
}
