.popup {
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  background-color: @white;
  bottom: 12px;

  @media (min-width: @tablet-width) {
    margin-left: 100px;
    margin-right: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  @media (min-width: @desktop-width) {
    margin-left: 210px;
    margin-right: 210px;
  }

  &--success {
    padding-top: 44px;

    @media (min-width: @tablet-width) {
      padding-top: 49px;
    }
  }

  &--failure {
    padding-top: 39px;
  }
}

.popup__header {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: @black;
  margin-bottom: 36px;

  @media (min-width: @tablet-width) {
    line-height: 40px;
    font-size: 30px;
  }

  &--failure {
    margin-bottom: 32px;

    @media (min-width: @tablet-width) {
      padding-left: 110px;
      padding-right: 110px;
    }
  }

  &--success {
    @media (min-width: @tablet-width) {
      padding-left: 129px;
      padding-right: 129px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 192px;
      padding-right: 192px;
    }
  }
}

.popup__text {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  padding-bottom: 44px;

  @media (min-width: @tablet-width) {
    font-size: 18px;
    padding-bottom: 35px;
  }

  &--success {
    padding-bottom: 42px;
    padding-left: 28px;
    padding-right: 28px;
    text-align: center;

    @media (min-width: @tablet-width) {
      padding-left: 93px;
      padding-right: 93px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 175px;
      padding-right: 175px;
    }
  }

  &--failure {
    padding-bottom: 42px;
    padding-left: 22px;
    padding-right: 22px;
    text-align: center;

    @media (min-width: @tablet-width) {
      padding-left: 104px;
      padding-right: 104px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 175px;
      padding-right: 175px;
      padding-bottom: 68px;
    }
  }
}

.popup__button-block {
  padding-top: 52px;
  padding-bottom: 52px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: @grey;

  @media (min-width: @tablet-width) {
    padding-left: 82px;
    padding-right: 82px;
  }

  @media (min-width: @desktop-width) {
    padding-left: 162px;
    padding-right: 162px;
  }

  &--failure {
    padding-top: 0;
    background-color: @white;

    @media (min-width: @tablet-width) {
      padding-left: 82px;
      padding-right: 82px;
    }

    @media (min-width: @desktop-width) {
      padding-left: 162px;
      padding-right: 162px;
      padding-top: 52px;
      background-color: @grey;
    }
  }
}
