.prices__wrapper {
  position: relative;
  min-height: 457px;
  overflow: hidden;
}

.prices__table {
  position: relative;
  left: -200px;
  min-width: 835px;
}

.prices__header {
  width: 276px;
  background-color: @blue-basic;
  color: @white;
}

.prices__column {
  width: 276px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.prices__header-cost {
  display: block;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.prices__toggles {

}

