.slider__toggle {
  border: none;
  padding: 0;
  margin-right: 9px;
  width: 6px;
  height: 6px;
  background-color: @blue-basic;
  opacity: 0.3;
  border-radius: 50%;
  box-sizing: content-box;

  &:last-of-type {
    margin-right: 0;
  }

  &--current {
    background-color: @white;
    border: 3px solid @blue-basic;
    opacity: 1;
  }
}

.slider__review-toggle {
  &:last-of-type {
    @media (min-width: @desktop-width) {
      display: none;
    }
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid @blue-basic;
    border-radius: 1px;
    border-left: none;
    border-top: none;
    opacity: 0.3;
  }

  &--left {
    @media (min-width: @desktop-width) {
      transform: rotate(135deg);
      top: 213px;
      left: 130px;
    }
  }

  &--right {
    @media (min-width: @desktop-width) {
      transform: rotate(-45deg);
      top: 213px;
      right: 130px;
    }
  }
}

.slider__prices-toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}